<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>环境</key>
	<array>
		<string>夜晚</string>
		<string>学习</string>
		<string>工作</string>
		<string>午夜</string>
		<string>午休</string>
		<string>早晨</string>
		<string>开车</string>
		<string>运动</string>
		<string>旅行</string>
	</array>
	<key>情绪</key>
	<array>
		<string>放松</string>
		<string>怀旧</string>
		<string>清新</string>
		<string>浪漫</string>
		<string>伤感</string>
		<string>治愈</string>
		<string>快乐</string>
		<string>感动</string>
		<string>兴奋</string>
		<string>安静</string>
	</array>
	<key>风格</key>
	<array>
		<string>廣東歌</string>
		<string>國語流行樂</string>
		<string>Apple Music</string>
		<string>流行樂</string>
		<string>电子</string>
		<string>舞蹈</string>
		<string>轻音乐</string>
		<string>爵士</string>
		<string>R&amp;B</string>
		<string>古典音樂</string>
		<string>嘻哈與饒舌</string>
		<string>日本流行樂</string>
		<string>爵士樂</string>
		<string>韓國流行樂</string>
		<string>摇滚</string>
		<string>另類音樂</string>
	</array>
	<key>语言</key>
	<array>
		<string>欧美</string>
		<string>韩语</string>
		<string>国语</string>
		<string>粤语</string>
	</array>
</dict>
</plist>
