<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All</key>
	<array>
		<string>AppleMusic</string>
		<string>Podcasts</string>
		<string>Pop</string>
		<string>KTV</string>
		<string>New Releaes</string>
		<string>Charts</string>
		<string>Happy Holidays</string>
		<string>Hip Hop</string>
		<string>Mood</string>
		<string>Workout</string>
		<string>Decades</string>
		<string>Arab</string>
		<string>Country</string>
		<string>Chill</string>
		<string>R&amp;B</string>
		<string>Rock</string>
		<string>Indie</string>
		<string>Party</string>
		<string>Sleep</string>
		<string>Classical</string>
		<string>Jazz</string>
		<string>Desi</string>
		<string>Christian</string>
		<string>Gaming</string>
		<string>Romance</string>
		<string>TV &amp; Movies</string>
		<string>Blues</string>
		<string>Travel</string>
		<string>Kids &amp; Family</string>
		<string>Word</string>
	</array>
</dict>
</plist>
